<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CONSOLE" value="0"/>
    <add key="SKIP_CL" value="0"/>
    <add key ="IS_PROD" value="1"/>
    <add key ="IS_DEBUG" value="0"/> 
    <add key ="OVERRIDE_USER" value=""/> <!--Ex: silva.1234-->
    <add key ="TP_LOGIN_ENABLED" value="0"/>
  </appSettings>
</configuration>